<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>
<% if @city.camps.any? %>
      
      <ol class="camps">
        <%= render @camps%>
      </ol>
      <%= will_paginate @camps %>
    <% end %>