<nav>
    <ul class="nav pull-right">
        <li><%= link_to "Турбазы",   admin_path %></li>
        <li><%= link_to "Города",    new_city_path %></li>
        <li><%= link_to "Регионы",   new_region_path %></li>  
        <li><%= link_to "Страны",    new_country_path %></li>            
    </ul>
</nav>