<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">      
      <nav>
        <ul class="nav nav-tabs">
          <li><%= link_to "Пользователь",    root_path %></li>
          <li><%= link_to "Администратор",    admin_path %></li>          
        </ul>
      </nav>
    </div>
  </div>
</header>